body {
      font-family: "Helvetica", sans-serif;
      background: #fff;
      color: #000;
      line-height: 1.6;
    }
.pulsante {
  display: inline-block; /* Rende il link un blocco per l'applicazione di padding/margini */
  padding: 10px 20px;
  background-color: #007bff; /* Colore di sfondo blu */
  color: white; /* Colore del testo bianco */
  text-decoration: none; /* Rimuove la sottolineatura tipica dei link */
  border-radius: 5px; /* Bordi arrotondati */
  border: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
}

.pulsante:hover {
  background-color: #0056b3; /* Scurisce al passaggio del mouse */
}
