:root {
      /*colori plaette*/
      --darkblue: #131138;
      --lime: #baff24;
      --pink: #ff498f;
      --yellow: #f5ff33;
      --violet: #a100d1;
}

body {
      font-family: "Helvetica", sans-serif;
      background: var(--darkblue);
      color: white;
      line-height: 1.6;
      text-align: center;
    }

.pulsante {
      display: inline-block; /* Rende il link un blocco per l'applicazione di padding/margini */
      padding: 1rem 1.5rem;
      --color: var(--pink);
      --colorhover: var(--violet);
      background-color: var(--color);
      color: white; /* Colore del testo bianco */
      text-decoration: none; /* Rimuove la sottolineatura tipica dei link */
      border-radius: 0.5rem; /* Bordi arrotondati */
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
}

.pulsante:hover {
      background-color: var(--colorhover); /* Scurisce al passaggio del mouse */
}

.pulsante--verde {
      --color: var(--lime);
      --colorhover: var(--yellow);
}
.pulsante--giallo {
      --color: var(--yellow);
      --colorhover: var(--pink);
}

/* Animazione di battito per il titolo */
@keyframes pulse {
      0% {
        transform: scale(1);
      } /* Stato iniziale */
      40% {
        transform: scale(1);
      } /* Inizio espansione */
      70% {
        transform: scale(1.05);
      } /* Stato di massima espansione/battito */
      100% {
        transform: scale(1);
      } /* Ritorno allo stato iniziale */
}

.pulsating-text {
      font-size: 5rem;
      font-weight: bold;
      color: white; 
      text-align: center;
      /* Applica l'animazione:
       - 'pulse' è il nome definito sopra
       - '1s' è la durata
       - 'ease-in-out' è la curva di velocità
       - 'infinite' per ripeterla all'infinito */
      animation: pulse 1.5s ease-in-out infinite;
}
