/* roba per responsive*/
@media (max-width: 768px) {
  .main-title {
        font-size: 8dvw;
    }
  .button-container {
      gap: 0.5dvh;
  }
  /*.pulsante {
      padding: 1dvh 0.5rem;
      font-size: 1.8dvh;
  }*/
  .gigacontainer {
        flex-direction: column; /* Li mette uno sotto l'altro */
        gap: 1dvh; /* Riduce lo spazio tra i pulsanti */
        height: 80%;
  }
  .gigapulsante {
      height: 3dvh; /* Diventano un po' più bassi per starci tutti e tre */
      width: auto;
  }
  .pulsating-text{
    font-size: 8dvw;
  }
  .pixel-art {
    max-height: 20dvh;
  }

  .info-row {
    position: fixed;
    bottom: 10dvh;
    left: 7dvw;
    right: 7dvw;
  }

  /* GAME PART */ 
  .game-frame {
    width: 90dvw;
    height: 85dvh;
  }
  
  .game-title {
    font-size: 2dvh;
  }
  .game-subtitle {
    font-size: 1dvh;
    color: var(--darkblue);
  }

    /* LED */
  .led-row {
    gap: 2dvw;
  }
  .led {
    width: 5dvw;
    height: 5dvw;
  }
    .status-text {
    font-size: 2dvh;
    margin-top: 3dvh;
  }
}





