/* roba per responsive*/
@media (max-width: 768px) {
  .main-title {
        font-size: 8dvw;
    }
  .button-container {
      gap: 0.5dvh;
  }
  /*.pulsante {
      padding: 1dvh 0.5rem;
      font-size: 1.8dvh;
  }*/
  .gigacontainer {
        flex-wrap: wrap;
        flex-direction: column; /* Li mette uno sotto l'altro */
        gap: 1dvh; /* Riduce lo spazio tra i pulsanti */
  }
  .gigapulsante {
      height: 20dvh; /* Diventano un po' più bassi per starci tutti e tre */
    width: auto;
  }
  .pulsating-text{
    font-size: 8dvw;
  }
  .pixel-art {
    max-height: 20dvh;
  }


  .game-frame {
    width: 90dvw;
    height: 80dvh;
  }

  .info-row {
    position: fixed;
    bottom: 10dvh;
    left: 7dvw;
    right: 7dvw;
  }
}

